body {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 8px;

	font-size: 18px;
}

img {
	max-width: 100%;
}

img.hero {
	max-width: 300px;
}

header {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	font-size: 2rem;
}

main {
	flex: 1;
	padding: 1rem;
}

ul.blog-list {
	list-style: none;
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;

	padding: 0;
} 

ul.blog-list li {
	display: flex;
	width: calc(50% - 2rem);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 0.5rem;
	margin: 0;

	border: 1px solid #ccc;
	border-radius: 12px;
} 

article.blog-post {
	line-height: 1.4;
}

@media screen and (max-width: 730px) {
	ul.blog-list li {
		width: 90%;
	}

	ul.blog-list {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}

	img.hero {
		max-width: 100%;
	}
}
	
ul.blog-list li a {
	font-size: 1.5rem;
}

footer p {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0 8px;
}

footer p span.copyright {
	flex: 1;
}

section.author > div.details {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

section.author img {
	max-width: 100px;
}

pre {
	overflow-x: auto;
}
