body {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 8px;
}

img {
	max-width: 100%;
}

img.hero {
	max-width: 300px;
}

header {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	font-size: 24px;
}

main {
	flex: 1;
	padding: 1rem;
}

ul.blog-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;

	padding: 0;
} 
ul.blog-list li {
	display: flex;
	max-width: 35%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 1rem;

	border: 1px solid #ccc;
	border-radius: 12px;
} 

@media screen and (max-width: 800px) {
	ul.blog-list li {
		max-width: 100%;
	}
}
	
ul.blog-list li a {
	font-size: 1.5rem;
}

footer p {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0 8px;
}

footer p span.copyright {
	flex: 1;
}

section.author > div.details {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

section.author img {
	max-width: 100px;
}

pre {
	overflow-x: auto;
}
