body {
	max-width: 1000px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

img.hero {
	max-width: 300px;
}

header {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	font-size: 24px;
}

ul.blog-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
} 
ul.blog-list li {
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 0;
} 

ul.blog-list li a {
	font-size: 1.5rem;
}
